<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <connectionStrings>
        <add
		  name="OfficeDB"
		  connectionString="Data Source=MSI\SQLEXPRESS;
                        Initial Catalog=office management studio;
                        Integrated Security=True;
                        TrustServerCertificate=True"
		  providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
