<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add
		  name="OfficeDB"
		  connectionString="Data Source=(localdb)\MSSQLLocalDB;
Initial Catalog=office management studio;
Integrated Security=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	</configuration>


	
</configuration>
